.updateReportTag{
    
}

.updateReportTag_accor{
    margin-bottom: 20px;
    background-color: #f4f3ee;
}


.updateReportTag_date{
    font-size: 18px;
    font-weight: 500;
    background-color: #a29bfe;
    color: #fff;
}

.updateReportTag_single{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.updateReportTag_single p{
    width: 100px;
    font-size: 18px;
    font-weight: 600;
}

.updateReportTag_single_before,
.updateReportTag_single_after{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateReportTag_single_before img,
.updateReportTag_single_after img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.updateReportTag_single_before{
    width: 50%;
}

.updateReportTag_single_after{
    width: 50%;

}   

.MuiSvgIcon-root path{
    color: #fff;
}















