.selectDoctor {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.selectDoctor_single {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectDoctor_single_label {
  width: 70%;
  height: 90px;
  background-color: #fff;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 7%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #6c5ce7;
}

.selectDoctor_single_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selectDoctor_single_label .checkmark {
  position: absolute;
  top: 30px;
  left: 10%;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #6c5ce7;
}

.selectDoctor_single_label:hover input ~ .checkmark {
  /* background-color: #ccc; */
}

.selectDoctor_single_label input:checked ~ .checkmark {
  background-color: #6c5ce7;
  border: none;
}

.selectDoctor_single_label input:checked ~ .selectDoctor_single_label {
  background-color: #6c5ce7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.selectDoctor_single_label input:checked ~ .checkmark:after {
  display: block;
}

.selectDoctor_single_label .checkmark:after {
  left: 11px;
  top: 0px;
  width: 7px;
  height: 17px;
  border: solid #fff;
  border-width: 0 3.5px 3.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.selectDoctor_single_label_info {
  /* background-color: pink; */
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectDoctor_single_label_info_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.selectDoctor_single_label_info_name {
  width: 80%;
  height: 100%;
}

.selectDoctor_single_label_info_name_full {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.selectDoctor_single_label_info_name_email {
  width: 100%;
  height: 50%;
  font-size: 18px;
}
