.health_report {
  position: relative;
  width: 100%;
  height: 83.2vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #e6eef9;
  padding: 0% 0 1% 0;
}

.health_report_left {
  width: 40%;
  height: 100%;
  /* background-color: rebeccapurple; */
  padding-top: 4%;
}

.healthReportLeft {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.healthReportLeft_border {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
  border: 6px solid #74b9ff;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.healthReportLeft_border_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.healthReportLeft_border_camera {
  position: absolute;
  width: 80px;
  height: 80px;
  /* bottom: -40px; */
  top: 0;
  left: 20px;
  background-color: #dfe6e9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthReportLeft_border_camera input[type="file"] {
  display: none;
}

.healthReportLeft_border_camera_icon {
}

.healthReportLeft_btn {
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 0 100px;
}

.healthReportLeft_btn_cancel,
.healthReportLeft_btn_apply {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: #fff;
  cursor: pointer;
}

.health_report_right {
  width: 60%;
  height: 100%;
  /* background-color: aqua; */
  padding: 1% 2%;
}

.healthReportRight {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.healthReportRight_single {
  width: 48%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.healthReportRight_single_short {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.healthReportRight_single_long {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.healthReportRight_single label,
.healthReportRight_single_short label,
.healthReportRight_single_long label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.healthReportRight_single input,
.healthReportRight_single_short input,
.healthReportRight_single_long textarea {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
}

.healthReportRight_single input:focus,
.healthReportRight_single_short input:focus,
.healthReportRight_single_long textarea:focus {
  box-shadow: 0 0 10px #74b9ff;
  outline: none;
}

.healthReportRight_single_long textarea {
  height: 100%;
  resize: none;
}

.health_report_back_icon {
  position: absolute;
  top: 20px;
  left: 46px;
  color: #74b9ff;
  cursor: pointer;
}
