.AddFriendTag {
  width: 30%;
  height: 100px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.AddFriendTag_empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AddFriendTag_empty_text {
  font-size: 18px;
  font-weight: 500;
}

.AddFriendTag_empty_img {
  width: 30%;
}

.AddFriendTag:hover {
  margin-top: -5px;
  box-shadow: 0px 0px 20px rgba(116, 185, 255, 0.8);
}

.AddFriendTag_ava {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddFriendTag_ava_border {
  width: 90px;
  height: 90px;
  background-color: #74b9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.AddFriendTag_ava_icon {
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 50%;
  object-fit: cover;
}

.AddFriendTag_noti {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.AddFriendTag_noti_name {
  width: 100%;
  height: 30%;
  font-size: 20px;
  font-weight: 600;
}

.AddFriendTag_noti_email {
  width: 100%;
  height: 30%;
  color: #95a5a6;
}

.AddFriendTag_noti_btn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddFriendTag_noti_btn_able,
.AddFriendTag_noti_btn_disable {
  width: 60%;
  height: 80%;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.AddFriendTag_noti_btn_able {
  background-color: #55efc4;
  cursor: pointer;
}

.AddFriendTag_noti_btn_disable {
  background-color: #95a5a6;
  cursor: not-allowed;
}

@keyframes ldio-qcfj2i4nqi {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-qcfj2i4nqi div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-qcfj2i4nqi 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-qcfj2i4nqi div:nth-child(1) {
  border-color: #e90c59;
  animation-delay: 0s;
}
.ldio-qcfj2i4nqi div:nth-child(2) {
  border-color: #46dff0;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-ym1gnjjxd6d {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-qcfj2i4nqi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qcfj2i4nqi div {
  box-sizing: content-box;
}
