.healthStatus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.healthStatus_form_body_header_exit{
  position: absolute;
  top: 5px;
  right: 20px;
  color: #12c2e9;
  cursor: pointer;
}

.disable_healthStatus {
  display: none;
}

.healthStatus_form {
  width: 70%;
  height: 85%;
  background-color: #dfe6e9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthStatus_form_header {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthStatus_form_header_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #12c2e9;
}

.healthStatus_form_header_bg_img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #fff;
  z-index: 1;
  background-color: #fff;
}

.healthStatus_form_body {
  width: 50%;
  height: 100%;
  padding: 1% 0;
}

.healthStatus_form_body_header {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 800;
}

.healthStatus_form_body_body{
    /* width: 100%; */
    height: 80%;
    padding: 3% 1% 0 0% ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.healthStatus_form_body_line,
.healthStatus_form_body_line_2{
    width: 60%;
    min-height: 50px;
    max-height: 55%;
    display:flex;
    align-items:center;
    justify-content:space-between;

}

.healthStatus_form_body_line_label,
.healthStatus_form_body_line_label_2{
    font-size: 20px;
    font-weight: 600;
    color: #12c2e9;
    width: 40%;
}

.healthStatus_form_body_line_content,
.healthStatus_form_body_line_content_2{
    font-size: 18px;
    margin-left: 2%;    
}

.healthStatus_form_body_line_2{
    width: 100%;
    padding: 0 2% 0 20%;
}

.healthStatus_form_body_line_label_2{
    height: 100%;
}

.healthStatus_form_body_line_content_2{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-left: 0;  
    padding-top: 0.6%;
}
