.health_check{
    position: relative;
    padding: 80px 50px 50px 50px;
    background-color: #E6EEF9;
}

.health_check_back_icon{
    position: absolute;
    top: 20px;
    left: 46px;
    color: #74B9FF;
    cursor: pointer;
}

.health_check_info,
.health_check_service,
.health_check_doctor,
.health_check_time{
    color: #0984E3;
    font-size: 20px;
    font-weight: 700;
}

.health_check_info_content,
.health_check_service_content,
.health_check_doctor_content,
.health_check_time_content{
    width: 100%;
    padding: 1% 0 0 0%;
}

.health_check_warning{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 25px;
    font-weight: 700;
    color: red;
}

.health_check_delacc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.health_check_delacc_btn{
    color: #fff;
    width: 11%;
    padding: 18px 0 ;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    border: none;
}


