.header{
    width: 100%;
    height: 70px;
    background-color: #74B9FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_logo_border{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    width: 20%;
    display: flex;
    align-items: center;
    padding: 0px 0 0px 4%;
}


.header_logo_border_img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    background-color: #ffff;
    border-radius: 50%;
    cursor: pointer;
}

.header_option_border{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.header_option_border a{
    color: #fff;
}

.header_user_border{
    /* background-color: green; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header at home */

.header_logo_border2{
    width: 100%;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

.header_logo_border_img2{
    width: 65px;
    height: 65px;
    object-fit: cover;
    background-color: #ffff;
    border-radius: 50%;
    margin-left: 65%;
}



