.YourInfo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: pink; */
}

.YourInfo:first-child{
    padding-left: 6%;

}

.YourInfo:last-child{
    padding-right: 6%;
    
}

.YourInfo_single,
.YourInfo_single_2{
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    padding: 0 0 2% 1%;
}

.YourInfo_single_2{
    width: 100%;
}


.YourInfo_single label,
.YourInfo_single_2 label{
    width: 100%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    text-align: left;
}

.YourInfo_single input,
.YourInfo_single_2 textarea{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0 15px;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(116, 185, 255, 0.3);
}

.YourInfo_single_2 textarea{
    height: 100px;
    resize: none;
}

.YourInfo_single input:focus,
.YourInfo_single_2 textarea:focus{
    outline: none;
}











