.healthReportRight{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.healthReportRight_single{
    width: 48%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.healthReportRight_single_short{
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.healthReportRight_single_long{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.healthReportRight_single label,
.healthReportRight_single_short label,
.healthReportRight_single_long label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.healthReportRight_single input,
.healthReportRight_single_short input,
.healthReportRight_single_long textarea{
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}

.healthReportRight_single input:focus,
.healthReportRight_single_short input:focus,
.healthReportRight_single_long textarea:focus{
    box-shadow: 0 0 10px #74B9FF;
    outline: none;
}

.healthReportRight_single_long textarea{
    height: 100%;
    resize: none;
}



