.FriendReqTag {
  width: 30%;
  height: 100px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.FriendReqTag_empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FriendReqTag_empty_text {
  font-size: 18px;
  font-weight: 500;
}

.FriendReqTag_empty_img {
  width: 30%;
}

.FriendReqTag:hover {
  margin-top: -5px;
  box-shadow: 0px 0px 20px rgba(116, 185, 255, 0.8);
}

.FriendReqTag_ava {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FriendReqTag_ava_border {
  width: 90px;
  height: 90px;
  background-color: #74b9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.FriendReqTag_ava_icon {
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 50%;
  object-fit: cover;
}

.FriendReqTag_noti {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.FriendReqTag_noti_name {
  width: 100%;
  height: 30%;
  font-size: 20px;
  font-weight: 600;
}

.FriendReqTag_noti_email {
  width: 100%;
  height: 30%;
  color: #95a5a6;
}

.FriendReqTag_noti_btn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FriendReqTag_noti_btn button {
  width: 49%;
  height: 80%;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
