.footer{
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}