.SelectService {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.SelectService_single {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SelectService_single_label {
  width: 70%;
  height: 60px;
  background-color: #fff;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 7%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c5ce7;
}

.SelectService_single_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 27%;
  left: 10%;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #6c5ce7;
}

.SelectService_single_label:hover input ~ .checkmark {
  /* background-color: #ccc; */
  
}

.SelectService_single_label input:checked ~ .checkmark{
  background-color: #6c5ce7;
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  
}

.SelectService_single_label input:checked ~ .checkmark:after {
  display: block;
}

.SelectService_single_label .checkmark:after {
  left: 11px;
  top: 0px;
  width: 7px;
  height: 17px;
  border: solid #fff;
  border-width: 0 3.5px 3.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.SelectService_single_icon{
    position: absolute;
    top: 40%;
    right: 10%;
}

