.selectTime {
  width: 100%;
  height: 100%;
  /* background-color: #222; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 7%;
}

.selectTime_calendarpicker {
  width: 45%;
  height: 100%;
  /* background-color: #6f48eb; */
  /* padding: 0 1% 0 7.5%; */
}

.calendar-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar {
  width: 100% !important;
  height: 100%;
  max-width: 100% !important;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(116, 185, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border: none !important;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #6f48eb !important;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}

.react-calendar__month-view__days button {
  padding: 20px 6.6667px !important;
  font-size: 16px;
}

.selectTime_timepicker {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0px 10px rgba(116, 185, 255, 0.5);
  border-radius: 6px;
}

.selectTime_timepicker_single {
  width: 33%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectTime_timepicker_disable {
  width: 33%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}

.selectTime_timepicker_single_click {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: rgba(116, 185, 255, 0.5);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
}

.container1 {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark1 {
  position: absolute;
  /* bottom: 8px;
  left: 8px; */
  height: 100%;
  width: 100%;
  background-color: rgba(116, 185, 255, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark_disable {
  position: absolute;
  /* bottom: 8px;
  left: 8px; */
  height: 100%;
  width: 100%;
  background-color: #8395a7;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}

.container1:hover input ~ .checkmark1 {
  background-color: rgba(116, 185, 255, 0.2);
}

.container1 input:checked ~ .checkmark1 {
  background-color: #6f48eb;
  color: #fff;
}

.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

.container1 input:checked ~ .checkmark1:after {
  display: block;
}

.container1 input:checked ~ .container1 {
  background-color: #6f48eb;
}

/* .container1 .checkmark1:after {
 	top: 3.5px;
	left: 3.6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
} */
