.home{
    width: 100%;
    height: 83.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.container_top,
.container_bot{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    
}

.home_option{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .container,
    .container_top,
    .container_bot {
      flex-direction: column;
      gap: 10px;
    }
    .home_option{
        width: 300px;
        height: 150px;
        font-size: 25px;
    }
  }








