@keyframes changeTag {
  0% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(1.5);
  }
}

.friend {
  width: 100%;
  height: 83.2vh;
}

.friend_header {
  position: relative;
  width: 100%;
  height: 15%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8%;
}

.friend_header_back_icon {
  position: absolute;
  left: 3%;
  color: #74b9ff;
  cursor: pointer;
}

.friend_header_tags,
.friend_header_tags_unclick {
  width: 13%;
  height: 50%;
  background-color: #74b9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.friend_header_tags_unclick {
  background-color: transparent;
  color: #74b9ff;
}

.friend_body {
  width: 100%;
  height: 80%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend_body_layer {
  width: 80%;
  height: 100%;
  background-color: #e6eef9;
  border-radius: 20px;
  padding: 1%;
}

.friend_body_search {
  width: 100%;
  height: 15%;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.friend_body_searchbar {
  width: 50%;
  height: 80%;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0.5%;
}

.friend_body_searchbtn {
  width: 20%;
  height: 100%;
  background-color: #74b9ff;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.friend_body_searchinput {
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  padding: 0 3%;
}

.friend_body_searchinput:focus {
  border: none;
  outline: none;
}

.friend_body_main {
  width: 100%;
  height: 85%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 20px 55px;
}
