.healthReportLeft {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.healthReportLeft_border {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
  border: 6px solid #74b9ff;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.healthReportLeft_border_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.healthReportLeft_border_camera {
  position: absolute;
  width: 80px;
  height: 80px;
  /* bottom: -40px; */
  top: 0;
  left: 20px;
  background-color: #dfe6e9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthReportLeft_border_camera input[type="file"] {
  display: none;
}

.healthReportLeft_border_camera_icon {
}

.healthReportLeft_btn {
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 0 100px;
}

.healthReportLeft_btn_cancel,
.healthReportLeft_btn_apply {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: #fff;
  cursor: pointer;
}
