.yourSchedule_item_container {
  position: relative;
  left: 8em;
  top: -5em;
  /* background: #000; */
}

.yourScheduleTag {
  /* position: relative;
  left: 8em;
  top: -6em; */
  margin-bottom: 1em;
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 20px 1%;

  /* background: #000; */
}

.yourScheduleTag:hover {
  outline: 2px solid #74b9ff;
}

.yourScheduleTag_info {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.yourScheduleTag_info_ava {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.yourScheduleTag_info_ava_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.yourScheduleTag_info_name {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2%;
}

.yourScheduleTag_info_name_full {
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.yourScheduleTag_info_name_user {
  height: 50%;
  font-size: 17px;
  font-weight: 500;
  color: #95a5a6;
}

.yourScheduleTag_service {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.yourScheduleTag_date {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.yourScheduleTag_time {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.yourScheduleTag_del {
  width: 5%;
  height: 60%;
  cursor: pointer;
  color: #d63031;
}

.empty_schedule {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes ldio-qcfj2i4nqi {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-qcfj2i4nqi div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-qcfj2i4nqi 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-qcfj2i4nqi div:nth-child(1) {
  border-color: #e90c59;
  animation-delay: 0s;
}
.ldio-qcfj2i4nqi div:nth-child(2) {
  border-color: #46dff0;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-ym1gnjjxd6d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-qcfj2i4nqi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qcfj2i4nqi div {
  box-sizing: content-box;
}
