.css-ahj2mt-MuiTypography-root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.yourSchedule {
  width: 100%;
  min-height: 83.2vh;
  padding: 80px 2% 10px 2%;
  /* background-color: beige; */
  position: relative;
}

.yourSchedule_single {
}

.yourSchedule_single_date {
  color: #95a5a6;
  font-size: 18px;
  font-weight: 500;
}

.yourSchedule_single_tag {
  padding: 10px 20px 15px 50px;
}

.yourSchedule_back_icon {
  position: absolute;
  top: 20px;
  left: 46px;
  color: #74b9ff;
  cursor: pointer;
}

.section1 {
  position: relative;
  width: 200px;
  /* background: #000; */
  /* height: 204px; */
}

/* label */
.remember1 {
  position: relative;
  /* left: -10px; */
  /* margin: 20em 0 0 0; */
  width: 100%;
  padding: 0 2em;
}

.section1 h2 {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.remember1 label {
  margin-left: 0em;
  margin-bottom: 0.2em;
  cursor: pointer;
  /* color: #999; */
  color: #2e2e2e;
  font-size: 1.2em;
  font-weight: 900;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}
.remember1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.remember1 .checkmark1 {
  position: absolute;
  top: 0;
  left: 0em;
  height: 20px;
  width: 20px;
  background-color: #eee;
  cursor: pointer;
}

.remember1 .checkmark1::after {
  content: "\f00c";
  position: absolute;
  font-family: fontAwesome;
  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d4a0a2;
  opacity: 0;
  visibility: hidden;

  transition: all 0.2s ease-in-out 0s;
}

.remember1 input:checked ~ .checkmark1::after {
  opacity: 1;
  visibility: visible;
}
